<%include partials/_header%>

<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Mini E-Learning System</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>

  <div class="row" style="margin-top:25px;">
      <div class="col-md-4" style=" margin-bottom:20px;">
        <div class="card" style="width: 18rem;">
          <img width="288" height="180" style="background-color: blueviolet !important">
          <div class="card-body">
            <h6 class="card-title">Mathematics</h6>
            <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            <button class="btn-success">View Class</button>
          </div>
        </div>
      </div>    
      <div class="col-md-4" style=" margin-bottom:20px;">
        <div class="card" style="width: 18rem;">
          <img width="288" height="180" style="background-color: greenyellow !important">
          <div class="card-body">
            <h6 class="card-title">Arabics</h6>
            <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            <button class="btn-success">View Class</button>
          </div>
        </div>
      </div>    
      <div class="col-md-4" style=" margin-bottom:20px;">
        <div class="card" style="width: 18rem;">
          <img width="288" height="180" style="background-color: blue !important">
          <div class="card-body">
            <h6 class="card-title">Physics</h6>
            <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            <button class="btn-success">View Class</button>
          </div>
        </div>
      </div>   
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <img width="288" height="180" style="background-color: red !important">
          <div class="card-body">
            <h6 class="card-title">English</h6>
            <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            <button class="btn-success">View Class</button>
          </div>
        </div>
      </div>  
      <div class="col-md-4" style=" margin-bottom:20px;">
        <div class="card" style="width: 18rem;">
          <img width="288" height="180" style="background-color: green !important">
          <div class="card-body">
            <h6 class="card-title">Arabics</h6>
            <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            <button class="btn-success">View Class</button>
          </div>
        </div>
      </div> 
      <div class="col-md-4" style=" margin-bottom:20px;">
        <div class="card" style="width: 18rem;">
          <img width="288" height="180" style="background-color: purple !important">
          <div class="card-body">
            <h6 class="card-title">Mathematics</h6>
            <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            <button class="btn-success">View Class</button>
          </div>
        </div>
      </div> 
      <div class="col-md-4" style=" margin-bottom:20px;">
        <div class="card" style="width: 18rem;">
          <img width="288" height="180" style="background-color: yellow !important">
          <div class="card-body">
            <h6 class="card-title">Mathematics</h6>
            <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            <button class="btn-success">View Class</button>
          </div>
        </div>
      </div>        
  </div>
</div>
</div>
<% include partials/_footer %>